services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: white-carrot

  backend:
    build: ../career-page-builder-be
    env_file:
      - ../career-page-builder-be/.env
    environment:
      NODE_ENV: production
    depends_on:
      - postgres
    ports:
      - "4000:4000"
    command: npm run dev

  frontend:
    build: ../career-page-builder-fe
    depends_on:
      - backend
    ports:
      - "3000:3000"
    command: npm run dev
